{
  "openapi": "3.0.3",
  "info": {
    "title": "SafeRoute API",
    "description": "Intelligent traffic safety platform API with real-time routing, weather analysis, and AI-powered risk prediction.",
    "version": "1.0.0",
    "contact": {
      "name": "API Support",
      "email": "support@saferoute.app"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://saferoute.app/api",
      "description": "Production server"
    },
    {
      "url": "http://localhost:3000/api",
      "description": "Development server"
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Authentication endpoints"
    },
    {
      "name": "Trips",
      "description": "Trip management"
    },
    {
      "name": "Incidents",
      "description": "Road incident reporting"
    },
    {
      "name": "Admin",
      "description": "Admin endpoints"
    },
    {
      "name": "Maps",
      "description": "Geocoding and routing"
    }
  ],
  "paths": {
    "/auth/register": {
      "post": {
        "tags": ["Auth"],
        "summary": "Register a new user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "email", "password"],
                "properties": {
                  "name": { "type": "string", "example": "John Doe" },
                  "email": { "type": "string", "format": "email", "example": "john@example.com" },
                  "password": { "type": "string", "format": "password", "example": "securepassword123" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User registered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": { "type": "string" },
                    "refreshToken": { "type": "string" },
                    "user": { "$ref": "#/components/schemas/User" }
                  }
                }
              }
            }
          },
          "400": { "description": "Validation error" },
          "409": { "description": "Email already registered" }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": ["Auth"],
        "summary": "Login user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "password"],
                "properties": {
                  "email": { "type": "string", "format": "email" },
                  "password": { "type": "string", "format": "password" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": { "type": "string" },
                    "refreshToken": { "type": "string" },
                    "user": { "$ref": "#/components/schemas/User" }
                  }
                }
              }
            }
          },
          "401": { "description": "Invalid credentials" },
          "403": { "description": "Account locked or banned" }
        }
      }
    },
    "/trips": {
      "get": {
        "tags": ["Trips"],
        "summary": "Get user's trip history",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/Page" },
          { "$ref": "#/components/parameters/Limit" }
        ],
        "responses": {
          "200": {
            "description": "List of trips",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "trips": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Trip" }
                    },
                    "total": { "type": "integer" },
                    "page": { "type": "integer" },
                    "pages": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Trips"],
        "summary": "Save a new trip",
        "security": [{ "BearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/TripInput" }
            }
          }
        },
        "responses": {
          "201": { "description": "Trip saved" },
          "400": { "description": "Validation error" }
        }
      }
    },
    "/incidents": {
      "get": {
        "tags": ["Incidents"],
        "summary": "Get nearby incidents",
        "parameters": [
          { "$ref": "#/components/parameters/Lat" },
          { "$ref": "#/components/parameters/Lon" },
          { "$ref": "#/components/parameters/Radius" }
        ],
        "responses": {
          "200": {
            "description": "List of incidents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "incidents": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Incident" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "role": { "type": "string", "enum": ["user", "moderator", "admin"] },
          "photo": { "type": "string" },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "Trip": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "startName": { "type": "string" },
          "endName": { "type": "string" },
          "startLat": { "type": "number" },
          "startLon": { "type": "number" },
          "endLat": { "type": "number" },
          "endLon": { "type": "number" },
          "distanceKm": { "type": "number" },
          "durationMin": { "type": "integer" },
          "vehicleType": { "type": "string" },
          "safetyScore": { "type": "integer" },
          "riskLevel": { "type": "string" },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "TripInput": {
        "type": "object",
        "required": ["startName", "endName", "startLon", "startLat", "endLon", "endLat"],
        "properties": {
          "startName": { "type": "string" },
          "endName": { "type": "string" },
          "startLon": { "type": "number" },
          "startLat": { "type": "number" },
          "endLon": { "type": "number" },
          "endLat": { "type": "number" },
          "distanceKm": { "type": "number" },
          "durationMin": { "type": "integer" },
          "vehicleType": { "type": "string" },
          "safetyScore": { "type": "integer" },
          "riskLevel": { "type": "string" }
        }
      },
      "Incident": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "type": { "type": "string" },
          "lat": { "type": "number" },
          "lon": { "type": "number" },
          "description": { "type": "string" },
          "severity": { "type": "string" },
          "upvotes": { "type": "integer" },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      }
    },
    "parameters": {
      "Page": {
        "name": "page",
        "in": "query",
        "schema": { "type": "integer", "default": 1 },
        "description": "Page number"
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "schema": { "type": "integer", "default": 20 },
        "description": "Items per page"
      },
      "Lat": {
        "name": "lat",
        "in": "query",
        "schema": { "type": "number" },
        "description": "Latitude"
      },
      "Lon": {
        "name": "lon",
        "in": "query",
        "schema": { "type": "number" },
        "description": "Longitude"
      },
      "Radius": {
        "name": "radius",
        "in": "query",
        "schema": { "type": "number", "default": 10 },
        "description": "Search radius in km"
      }
    }
  }
}